.StudentLogin-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}

.StudentLogin-form {
  display: flex;
  flex-direction: column;
}

.StudentLogin-label {
  margin: 10px 0 5px;
  text-align: left;
}

.StudentLogin-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.StudentLogin-button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.StudentLogin-heading {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.StudentLogin-button:hover {
  background: #0056b3;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.StudentLogin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}

